{{#if this.showChatbotButton}}
  <DButton
    {{did-insert this.getBotUser}}
    @id="chatbot-btn"
    @class={{concatClass "btn-primary chatbot-btn" this.chatbotLaunchClass}}
    @action={{action this.startChatting}}
    @title={{this.title}}
  >
    {{#if this.chatbotLaunchUseAvatar}}
      {{avatar this.botUser imageSize="medium"}}
    {{else}}
      {{d-icon this.chatbotLaunchIcon}}
    {{/if}}
    <label class="d-button-label">{{i18n "chatbot.title_capitalized"}}</label>
  </DButton>
{{/if}}