{{#if this.showChatbotButton}}
  <DButton {{did-insert this.getBotUser}}
    @id="chatbot-btn"
    @class="btn-primary chatbot-btn"
    @action={{action this.startChatting}}
  >
    {{#if this.chatbotLaunchUseAvatar}}
      {{avatar this.botUser imageSize="medium"}}
    {{else}}
      {{d-icon this.chatbotLaunchIcon}}
    {{/if}}
    <label class="d-button-label">{{i18n "chatbot.title_capitalized"}}</label>
  </DButton>
{{/if}}
