{{#if this.showChatbotButton}}
  <DButton
    {{did-insert this.getBotUser}}
    @id={{if this.primaryButton "chatbot-btn"}}
    @class={{concatClass "chatbot-btn" this.chatbotLaunchClass}}
    ...attributes
    @action={{action this.startChatting}}
    @title={{this.title}}
  >
    {{#if this.chatbotLaunchUseAvatar}}
      {{avatar this.botUser imageSize="medium"}}
    {{else}}
      {{d-icon this.chatbotLaunchIcon}}
    {{/if}}
    {{#if this.primaryButton}}
      <label class="d-button-label">{{i18n "chatbot.title_capitalized"}}</label>
    {{/if}}
  </DButton>
{{/if}}